.filter-main .filter-bedroom {
  display: flex;
  background: white;
  box-shadow: 0 3px 6px 0 #00000029;
  width: 17.5rem;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin-right: 2px;
}
.filter-main .filter-bedroom .left {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}
.filter-main .filter-bedroom .left {
  display: flex;
  /* width: 6rem; */
  justify-content: space-between;
}
.filter-main .filter-bedroom .left .text {
  margin-left: 10px;
}
.filter-main .filter-bedroom .right svg {
  height: 11px;
  margin-top: -3px;
}

.filter-dropdown1 {
  background: #fff;
  margin-top: 6px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  width: 16rem;
  box-shadow: 1px 12px 20px 0px #00000029;
  display: none;
  border-radius: 5px;
  z-index: 999;
  height: 13rem;
  overflow: auto;
}
.filter-dropdown1 ul {
  margin: 0;
  padding: 0;
}
.filter-dropdown1 ul li {
  display: flex;
  width: 13rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.filter-dropdown1 ul li .checkbox-div {
  width: 15px;
  height: 16px;
  border: 1px solid #7e808c;
  background-color: transparent;
  border-radius: 2px;
  transition: border 0.3s;
  margin-top: 2px;
  margin-right: 7px;
}
.filter-dropdown1 ul li input {
  display: none;
}
.filter-dropdown1 ul li label {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
}
.filter-dropdown1 ul li .filter-checkbox {
  width: 21px;
  height: 26px;
  opacity: 0;
  transform: scale(0);
  transition: 0.1s ease-in-out;
  position: relative;
  top: -7px;
  left: -4px;
  border-radius: 0px;
}
.filter-dropdown1 ul li .filter-checkboxed {
  width: 21px;
  height: 26px;
  opacity: 1;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  position: relative;
  top: -7px;
  left: -4px;
  border-radius: 0px;
}
.filter-dropdown1 ul li svg path {
  fill: #d8232a;
}

.filter-dropdown1 .price {
  display: flex;
}
.filter-dropdown1 .price .min input {
  display: none;
}
.filter-dropdown1 .price .min .pri {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  margin-bottom: 6px;
  margin-top: 0px;
  padding: 10px 5px;
  border-radius: 3px;
  width: 7rem;
  cursor: pointer;
}
.filter-dropdown1 .price .min .pri:hover {
  background: #d8232a;
  color: #fff;
}
.filter-dropdown1 .price .max input {
  display: none;
}
.filter-dropdown1 .price .max .pri {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  margin-bottom: 6px;
  margin-top: 0px;
  padding: 10px 5px;
  border-radius: 3px;
  width: 7rem;
  cursor: pointer;
}
.filter-dropdown1 .price .max .pri:hover {
  background: #d8232a;
  color: #fff;
}

.filter-dropdown3 {
  background: #fff;
  margin-top: 6px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  width: 16rem;
  box-shadow: 1px 12px 20px 0px #00000029;
  display: none;
  border-radius: 5px;
  z-index: 999;
  height: 13rem;
  overflow: auto;
}
.filter-dropdown3 ul {
  margin: 0;
  padding: 0;
}
.filter-dropdown3 ul li {
  display: flex;
  width: 13rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.filter-dropdown3 ul li .checkbox-div {
  width: 15px;
  height: 16px;
  border: 1px solid #7e808c;
  background-color: transparent;
  border-radius: 2px;
  transition: border 0.3s;
  margin-top: 2px;
  margin-right: 7px;
}
.filter-dropdown3 ul li input {
  display: none;
}
.filter-dropdown3 ul li label {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
}
.filter-dropdown3 ul li .filter-checkbox {
  width: 21px;
  height: 26px;
  opacity: 0;
  transform: scale(0);
  transition: 0.1s ease-in-out;
  position: relative;
  top: -7px;
  left: -4px;
  border-radius: 0px;
}
.filter-dropdown3 ul li .filter-checkboxed {
  width: 21px;
  height: 26px;
  opacity: 1;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  position: relative;
  top: -7px;
  left: -4px;
  border-radius: 0px;
}
.filter-dropdown3 ul li svg path {
  fill: #d8232a;
}

.filter-dropdown3 .price {
  display: flex;
}
.filter-dropdown3 .price .min input {
  display: none;
}
.filter-dropdown3 .price .min .pri {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  margin-bottom: 6px;
  margin-top: 0px;
  padding: 10px 5px;
  border-radius: 3px;
  width: 7rem;
  cursor: pointer;
}
.filter-dropdown3 .price .min .pri:hover {
  background: #d8232a;
  color: #fff;
}
.filter-dropdown3 .price .max input {
  display: none;
}
.filter-dropdown3 .price .max .pri {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  margin-bottom: 6px;
  margin-top: 0px;
  padding: 10px 5px;
  border-radius: 3px;
  width: 7rem;
  cursor: pointer;
}
.filter-dropdown3 .price .max .pri:hover {
  background: #d8232a;
  color: #fff;
}

.filter-dropdown4 {
  background: #fff;
  margin-top: 6px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  width: 16rem;
  box-shadow: 1px 12px 20px 0px #00000029;
  display: none;
  border-radius: 5px;
  z-index: 999;
  height: 13rem;
  overflow: auto;
}
.filter-dropdown4 ul {
  margin: 0;
  padding: 0;
}
.filter-dropdown4 ul li {
  display: flex;
  width: 13rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.filter-dropdown4 ul li .checkbox-div {
  width: 15px;
  height: 16px;
  border: 1px solid #7e808c;
  background-color: transparent;
  border-radius: 2px;
  transition: border 0.3s;
  margin-top: 2px;
  margin-right: 7px;
}
.filter-dropdown4 ul li input {
  display: none;
}
.filter-dropdown4 ul li label {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
}
.filter-dropdown4 ul li .filter-checkbox {
  width: 21px;
  height: 26px;
  opacity: 0;
  transform: scale(0);
  transition: 0.1s ease-in-out;
  position: relative;
  top: -7px;
  left: -4px;
  border-radius: 0px;
}
.filter-dropdown4 ul li .filter-checkboxed {
  width: 21px;
  height: 26px;
  opacity: 1;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  position: relative;
  top: -7px;
  left: -4px;
  border-radius: 0px;
}
.filter-dropdown4 ul li svg path {
  fill: #d8232a;
}

.filter-dropdown4 .price {
  display: flex;
}
.filter-dropdown4 .price .min input {
  display: none;
}
.filter-dropdown4 .price .min .pri {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  margin-bottom: 6px;
  margin-top: 0px;
  padding: 10px 5px;
  border-radius: 3px;
  width: 7rem;
  cursor: pointer;
}
.filter-dropdown4 .price .min .pri:hover {
  background: #d8232a;
  color: #fff;
}
.filter-dropdown4 .price .max input {
  display: none;
}
.filter-dropdown4 .price .max .pri {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  margin-bottom: 6px;
  margin-top: 0px;
  padding: 10px 5px;
  border-radius: 3px;
  width: 7rem;
  cursor: pointer;
}
.filter-dropdown4 .price .max .pri:hover {
  background: #d8232a;
  color: #fff;
}
.rotate {
  animation: rotate 2s linear;
}
@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.filter-main .reset.grey {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-right: 10px;
  margin-bottom: 9px;
  cursor: default;
}
.filter-main .reset {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-right: 10px;
  margin-bottom: 9px;
  cursor: pointer;
}
.filter-main .reset .img {
  margin-right: 4px;
}
.filter-main .reset .name div {
  color: #000;
}
.filter-main .reset .name div:hover {
  color: #d8232a;
}
.filter-main .reset .img.grey {
  margin-right: 4px;
  filter: grayscale(1);
}
.filter-main .reset .name.grey div {
  color: gray;
}

.error {
  width: 48rem;
  margin-top: 20px;
}
.error .errorLogo {
  text-align: center;
}
.error .errorLogo img {
  width: 10rem;
  margin-bottom: 17px;
}
.error .errorHText {
  text-align: center;
}
.error .errorHText div {
  font-size: 30px;
}
.error .errorText {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.error .errorText div {
  font-size: 18px;
  width: 28rem;
  text-align: center;
}

@media (max-width: 414px) {
  .tfp-topProjectDetail2 .tfp-topProjectDetail-contaier {
    margin: auto;
    width: 382px;
    padding: 15px 0;
  }
  .filter {
    overflow: overlay;
  }
  .filter-main .filter-bedroom {
    display: flex;
    background: white;
    box-shadow: 0 3px 6px 0 #00000029;
    width: 11rem;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin-right: 2px;
  }
  .filter-dropdown3 {
    background: #fff;
    margin-top: 6px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    width: 11rem;
    box-shadow: 1px 12px 20px 0px #00000029;
    display: none;
    border-radius: 5px;
    z-index: 999;
    height: 13rem;
    overflow: auto;
    left: 2.6rem;
  }
  .filter-dropdown1 {
    background: #fff;
    margin-top: 6px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    width: 11rem;
    box-shadow: 1px 12px 20px 0px #00000029;
    display: none;
    border-radius: 5px;
    z-index: 999;
    height: 13rem;
    overflow: auto;
  }
  .filter-dropdown4 {
    background: #fff;
    margin-top: 6px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    width: 11rem;
    box-shadow: 1px 12px 20px 0px #00000029;
    display: none;
    border-radius: 5px;
    z-index: 999;
    height: 13rem;
    overflow: auto;
    left: 14rem;
  }
  .tfp-topProjectDetail2 {
    overflow: hidden;
    height: 180rem;
    margin-bottom: -8rem;
  }
  .tfp-rgnl8b {
    background: #fff;
    height: 200px;
    white-space: nowrap;
    box-shadow: 0 3px 6px 0 #00000029;
    margin-bottom: 20px;
    display: contents;
  }
  .tfp-t7ue7i {
    display: inline-block;
    vertical-align: top;
    /* width: calc(100% - 279px); */
    padding: 10px 10px 10px 9px;
    position: relative;
    background: white;
    box-shadow: 0px 0px 12px 0px #b9b9b9bd;
    width: 23.3rem;
  }
  .tfp-gzbbet {
    object-fit: cover;
    width: 372px;
    height: 200px;
    background-position: center center;
    background-size: cover;
  }
}